

#APP {

  .Message {

    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;

    &.info { background-color: rgb(0, 129, 0); }
    &.fail { background-color: rgb(187, 4, 4); }
    &.warn { background-color: rgb(209, 143, 0); }
  }

  .List {

    .Item {

      padding: 10px 15px;
      margin: 5px 0;
      background-color: #ccc;
    }
  }
}